<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
  <head>
    <title>Idscms</title>
 <style type="text/css" media="screen">
     body { font: 75% "Helvetica", arial, Verdana, sans-serif; background: #FFB03B; }
     h1 { margin: 0; color: #8E2800; }
     h2 { margin-bottom: 0;}
     a { color: #468966; }
     #page { margin: 1em auto; width: 41.667em; border: 0.75em solid #B64926; background: white; padding: 2em; }
     .post { border-bottom: 0.4em double #FFB03B; padding-bottom: 1em;}
     .post .subtitle { padding-bottom: 1em; font-size: 83.333%; display: block;}
     #header, #footer { width: 47em; margin: 0 auto}
     #header h3 { font-size: 320%; margin: 0.5em 0 0 0; font-family: "Georgia";}
     #header h3 a { color: #FFF0A5; text-decoration: none; text-transform: uppercase; letter-spacing: 0.3em; text-shadow: #B64926 0.04em 0.04em;}
   </style>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   	<link rel="alternate" href="feed://subtlety.errtheblog.com/O_o/2d4.xml" type="application/atom+xml"/>
	<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://192.168.1.34:4000/rsd.xml" />
    <link rel="stylesheet" href="/stylesheets/master.css" type="text/css" media="screen" charset="utf-8">
  </head>
  <body>
	<div id="header"><h3><a href="/">idscms' first cms</a></h3></div>
	<div id="page">
   		<%= catch_content :for_layout %>
 	</div>
	<div id="footer">&copy; Ids</div>
	</body>
</html>